:root {
  --title-height: 30px;
  --top-div-height: 250px;
  --bottom-div-height: 450px;
  --main-padding: 80px;
  --padding-right: 8%;
  --secondary-padding: 50px;
}

.-div-title {
  height: var(--title-height);
  font-size: 100%;
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 0px 0 0px;
}

.-main-div {
  width: 100%;
  height: 100%;
  padding: var(--main-padding);
  padding-right: var(--padding-right);
}

.-top-div {
  width: 100%;
  height: var(--top-div-height);
  max-height: var(--top-div-height);
  background-color: aqua;
}

.-bottom-div {
  display: flex;
  max-width: min-content;
  flex-wrap: wrap;
}

.-bottom-div1,
.-bottom-div2 {
  position: relative;
  margin-right: var(--secondary-padding);
  height: var(--bottom-div-height);
  margin-top: var(--secondary-padding);
  height: var(--bottom-div-height);
  max-height: var(--bottom-div-height);
}

.-bottom-div1 {
  background-color: blue;
  width: 56vw;
  max-width: 755px;
  min-width: 538px;
  min-width: fit-content;
}

.-bottom-div2 {
  width: auto;
  min-width: 538px;
  background-color: blueviolet;
}

.-cards-container {
  width: 100%;
  height: calc(var(--top-div-height) - var(--title-height));
  max-height: calc(var(--top-div-height) - var(--title-height));
}

.-map-container {
  width: 100%;
  max-width: 100%;
  height: calc(var(--bottom-div-height) - var(--title-height));
  max-height: calc(var(--bottom-div-height) - var(--title-height));
}
