@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300&display=swap');
@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url('../fonts/Montserrat-Regular.ttf') format('ttf');
    src: url('../fonts/Montserrat-Thin.ttf') format('ttf');
    src: url('../fonts/Montserrat-ExtraLight.ttf') format('ttf');
    src: url('../fonts/Montserrat-Light.ttf') format('ttf');
    src: url('../fonts/Montserrat-Medium.ttf') format('ttf');
}

* {
    min-width: fit-content;
    width: 100%;

    margin: 0px;
    padding: 0px;

    text-decoration: none;
    border: none;

    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

a {
    text-decoration: none;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: rgb(25, 30, 40);
}

body {
    display: flex;
}

.-main-div {
    font-size: medium;
    height: 100%;
}