{% load static %}
<link rel="stylesheet" href="{% static 'css/includes/left_menu.css' %}" />

<ul class="flex-column mb-sm-auto">
  <a href="">
    <div class="title">RISA</div>
  </a>
  <div class="spacer-h-"></div>
  <a href="">
    <div class="-btn-menu">Home</div>
  </a>
  <a href="">
    <div class="-btn-menu">Home</div>
  </a>
  <a href="">
    <div class="-btn-menu">Home</div>
  </a>
  <a href="">
    <div class="-btn-menu">Home</div>
  </a>
</ul>

<div class="dropdown">
  <a href="">
    <div class="-btn-menu">About</div>
  </a>
</div>
<div class="spacer-h-40"></div>
